.logo {
  margin: 0 4px 3px 0;
  height: 35px;
  vertical-align: middle;
}
.fill-remaining-space {
flex: 1 1 auto;
}
.user {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.user span {
  margin-right: 10px;
  cursor: pointer;
}
