<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <h2>Créer un compte</h2>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Nom" formControlName="firstname">
          <mat-error *ngIf="isFieldInvalid('firstname')">
            Champ obligatoire.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Prénom" formControlName="lastname">
          <mat-error *ngIf="isFieldInvalid('lastname')">
            Champ obligatoire.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Matricule" formControlName="code">
          <mat-error *ngIf="isFieldInvalid('code')">
            <span *ngIf="f.code.errors?.required">Champ obligatoire.</span>
            <span *ngIf="f.code.errors?.pattern">Code invalide.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Mot de passe" formControlName="password">
          <mat-error *ngIf="isFieldInvalid('password')">
            <span *ngIf="f.password.errors?.required">Champ obligatoire.</span>
            <span *ngIf="f.password.errors?.minlength">6 caractères au minimum.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Confirmer mot de passe" formControlName="confirmPassword">
          <mat-error *ngIf="isFieldInvalid('confirmPassword')">
            <span *ngIf="f.confirmPassword.errors?.required">Champ obligatoire.</span>
            <span *ngIf="f.confirmPassword.errors?.validPasswordConfirmation">Ce champ doit correspondre à la valeur du champ 'mot de passe'.</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Terminer</button>
        <div class="registration-link">
          <p>Vous avez déjà un compte ? <a routerLink="/login">Connectez-vous</a></p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
