mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}
.registration-link {
  margin: 1em;
}
mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}
