<app-header></app-header>
<mat-card class="wall-container">
  <mat-card-title class="wall-title">
    Voici le mur de TSF
  </mat-card-title>
  <mat-card-subtitle class="wall-subtitle">
    Exprimez vous
    <mat-icon>mood</mat-icon>
  </mat-card-subtitle>
  <mat-card-content class="wall-content">
    <mat-card class="wall-msg">
      <mat-card-title class="msg-owner">EL BAHI Omar</mat-card-title>
      <mat-card-content class="msg-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et</mat-card-content>
      <mat-card-footer class="msg-footer">
        <div class="msg-date">
          <mat-icon>access_time</mat-icon>
          <span>20/05/2019 à 14:50</span>
        </div>
        <div class="msg-reactions">
          <div class="msg-like">
              <span>15</span>
              <mat-icon>thumb_up_alt</mat-icon>
          </div>
          <div class="msg-dislike">
              <span>115</span>
              <mat-icon>thumb_down_alt</mat-icon>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
    <mat-card class="wall-msg owner">
      <mat-card-title class="msg-owner">EL MIDAOUI Houssam</mat-card-title>
      <mat-card-content class="msg-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et</mat-card-content>
      <mat-card-footer class="msg-footer">
        <div class="msg-date">
          <mat-icon>access_time</mat-icon>
          <span>20/05/2019 à 14:50</span>
        </div>
        <div class="msg-reactions">
          <div class="msg-like">
              <span>15</span>
              <mat-icon>thumb_up_alt</mat-icon>
          </div>
          <div class="msg-dislike">
              <span>115</span>
              <mat-icon>thumb_down_alt</mat-icon>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
    <mat-card class="wall-msg">
      <mat-card-title class="msg-owner">AHIL Kamal</mat-card-title>
      <mat-card-content class="msg-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utdse ut labore et</mat-card-content>
      <mat-card-footer class="msg-footer">
        <div class="msg-date">
          <mat-icon>access_time</mat-icon>
          <span>20/05/2019 à 14:50</span>
        </div>
        <div class="msg-reactions">
          <div class="msg-like">
              <span>15</span>
              <mat-icon>thumb_up_alt</mat-icon>
          </div>
          <div class="msg-dislike">
              <span>115</span>
              <mat-icon>thumb_down_alt</mat-icon>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </mat-card-content>
  <mat-card-footer class="wall-footer">
    <mat-form-field class="msg-input">
      <textarea matInput ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Envoyer</button>
  </mat-card-footer>
</mat-card>
